@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  
  body {
    @apply bg-surface text-on-surface font-body;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .scanning-line {
    @apply absolute w-full h-[2px] top-0 bg-primary animate-scan;
    box-shadow: 0 0 15px #8aebff;
  }
}
